<form class="{{cssClass}} item-sheet-ice" autocomplete="off">
    <div class="container flex-group-center">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="container flex-group-center">
        <input name="sotb.programStrength" type="number" value="{{sotb.programStrength}}" placeholder="0" />
    </div>
    <div class="container flex-group-center">
        <input name="sotb.effects" type="text" value="{{sotb.effects}}" placeholder="Effects" />
    </div>
    <div class="container flex-group-center">
        <input name="sotb.additionalRules" type="text" value="{{sotb.additionalRules}}" placeholder="Additional Rules" />
    </div>
</form>