@font-face {
    font-family: "Minion Pro";
    src: local("Minion Pro"),
         local("MinionPro-Regular"),
         url("../fonts/MinionPro-Regular.otf");
}

@font-face {
    font-family: "Monkirta Pursuit";
    src: local("Monkirta Pursuit NC"),
         url("../fonts/Monkirta-NETRUNNER-TITLES.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    font-weight: bold;
    src: local("BebasNeueBold"),
         url("../fonts/BebasNeue-Bold.otf");
}